<div class="container">
	<div class="card">
		<div class="card-header">
			<h4 class="card-title">Izvoz podatkov</h4>
		</div>
		<div class="card-block">
			<b>Podatki o uporabnikih</b><br>
			<span *ngFor="let key of keysToggle[0]; let i = index" (click)="toggle(0,i)">
				<span *ngIf="key.selected" class="tag tag-success">{{key.title}}</span>
				<span *ngIf="!key.selected" class="tag tag-default">{{key.title}}</span>
			</span>
			<button class="btn btn-info btn-sm hidden-print" (click)="clicked(0); false">  
        				  <i class="fa fa-floppy-o"></i> Shrani
     			   </button>
			<hr>
			<b>Podatki o dogodkih</b><br>
			<span *ngFor="let key of keysToggle[1]; let i = index" (click)="toggle(1,i)">
				<span *ngIf="key.selected" class="tag tag-success">{{key.title}}</span>
				<span *ngIf="!key.selected" class="tag tag-default">{{key.title}}</span>
			</span>
			<button class="btn btn-info btn-sm hidden-print" (click)="clicked(1); false">  
        				  <i class="fa fa-floppy-o"></i> Shrani
     			   </button>
			<hr>
		</div>

	</div>
</div>
